.items_container{
    max-width: 1120px;
    width: 98%;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px 15px;

}
.list_title{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.400);
    margin-bottom: 8px;
}
#desc_title{
    flex: 4;
}
#value_title{
    flex: 2;
}#type_title{
    flex: 1;
}
.items_list{
    display: flex;
}
.item_desc{
    flex: 4;
}
.item_value{
    flex: 2;
}
.item_type{
    flex: 1;
}